<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Goal</th>
      <th>Amount Raised</th>
      <th># of Fundraisers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%=number_to_currency(campaign.goal) %></td>
        <td><%= number_to_currency(campaign.amount_raised) %></td>
        <td><%= campaign.solicitations.size %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit Campaign', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Remove', campaign_path(campaign), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
