<p id="notice"><%= notice %></p>

<h1> <%= @campaign.name %> </h1>

<p>
  <strong>Goal:</strong>
  <%= @campaign.goal %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @campaign.end_date %>
</p>

<p>
  <iframe width="560" height="315" src="<%= @campaign.youtube_url %>" frameborder="0" allowfullscreen></iframe>
</p>

<!-- add video -->
<!-- add all linked solicitations with link to each solicitation's "show" page -->
<h2> Fundraisers: </h2>
<ul>
<% @campaign.solicitations.each do |solicitation| %>
  <li> <%= link_to solicitation.user.email, campaign_solicitation_path(@campaign, solicitation) %> </li>
<% end %>
</ul>

<%= link_to 'JOIN CAMPAIGN', new_campaign_solicitation_path(@campaign, @solicitation) %> |

<%= link_to 'Back', campaigns_path %>
