<p id="notice"><%= notice %></p>

<h1> <%= @campaign.name %> </h1>

<p>
  <strong>Goal:</strong>
  <%= number_to_currency(@campaign.goal) %>
</p>

<p>
  <strong>Amount Raised:</strong>
  <%= number_to_currency(@campaign.amount_raised) %>
</p>

<% if @campaign.goal_met? %>
<h2>This campaign has met its goal!! Horray! You can still donate through a fundraising page though, or join the campaign.</h2>
<% end %>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @campaign.end_date %>
</p>

<% if @campaign.video_link.present? %>
<p>
  <iframe width="560" height="315" src="<%= @campaign.youtube_url %>" frameborder="0" allowfullscreen></iframe>
</p>
<% end %>

<!-- add video -->
<!-- add all linked solicitations with link to each solicitation's "show" page -->
<h2> Fundraisers: </h2>
<ul>
<% @campaign.solicitations.each do |solicitation| %>
  <li> <%= link_to solicitation.user.email, campaign_solicitation_path(@campaign, solicitation) %> </li>
<% end %>
</ul>

<h2> Leaderboard: </h2>
<h3>By Funds Raised:</h3>
<ol>
  <% @top_amount.each do | fundraiser | %>
    <li><%= fundraiser[1] %> has raised <%= number_to_currency(fundraiser[0]) %>!</li>
  <% end %>
</ol>

<h3>By Number of Donations:</h3>
<ol>
  <% @top_number.each do | fundraiser | %>
    <li><%= fundraiser[1] %> has secured <%= fundraiser[0] %> donations! </li>
  <% end %>
</ol>

<p>Way to go!</p>

<%= link_to 'JOIN CAMPAIGN', new_campaign_solicitation_path(@campaign, @solicitation) %> |

<%= link_to 'Back', campaigns_path %>
