<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Main image</th>
      <th>Fundraiser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitations.each do |solicitation| %>
      <tr>
        <td><%= solicitation.goal %></td>
        <td><%= solicitation.main_image %></td>
        <td><%= solicitation.user.email %></td>
        <td><%= link_to 'Show', campaign_solicitation_path(@campaign, solicitation) %></td>
        <td><%= link_to 'Edit', edit_campaign_solicitation_path(@campaign, solicitation) %></td>
        <td><%= link_to 'Destroy', campaign_solicitation_path(@campaign, solicitation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitation', new_campaign_solicitation_path %>
