<p id="notice"><%= notice %></p>

<h1><%= link_to 'DONATE', new_campaign_solicitation_donation_path(@campaign, @solicitation) %></h1>

<p>
  <strong>Goal:</strong>
  <%= @solicitation.goal %>
</p>

<p>
  <img src="<%= @solicitation.main_image %>" width="600px">
</p>

<p>
  <strong>Campaign:</strong>
  <%= @solicitation.campaign.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @solicitation.user.email %>
</p>

<%= link_to 'Edit', edit_campaign_solicitation_path(@campaign, @solicitation) %> |
<%= link_to 'Back', campaign_solicitations_path(@campaign) %>
